################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EngineTrendMonitoring/.vs/EngineTrendMonitoring
/EngineTrendMonitoring/EngineTrendMonitoring.Api/obj
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Core/obj
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Infrastructure/obj
/EngineTrendMonitoring/EngineTrendMonitoring.Shared/obj
/EngineTrendMonitoring/EngineTrendMonitoring.Web/obj
/EngineTrendMonitoring/.vs/ProjectEvaluation
/EngineTrendMonitoring/EngineTrendMonitoring.Api/bin/Debug/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Core/bin/Debug/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Infrastructure/bin/Debug/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Shared/bin/Debug/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Web/bin/Debug/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Infrastructure/Databases
/EngineTrendMonitoring/EngineTrendMonitoring.Api/EngineTrendMonitoring.Api.csproj.user
/EngineTrendMonitoring/EngineTrendMonitoring.Api/bin/Release/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Api/Properties/PublishProfiles
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Core/bin/Release/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Api.Infrastructure/bin/Release/net8.0
/EngineTrendMonitoring/EngineTrendMonitoring.Shared/bin/Release/net8.0
