@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-lg-2 align-items-center justify-content-between border-bottom g-1 my-3">
    <h3 class="fs-2 mb-2">Dashboard</h3>

    <div class="row align-items-center gx-2">
        <div class="col-12 col-lg-4 mb-2">
            <div class="form-floating">
                <select class="form-select" id="Aircraft">
                    <option value=""></option>
                </select>
                <label for="Aircraft">Aircraft</label>
            </div>
        </div>

        <div class="col-6 col-lg-4 mb-2">
            <div class="form-floating">
                <input type="date" class="form-control" id="DateFrom" />
                <label for="DateFrom">From</label>
            </div>
        </div>

        <div class="col-6 col-lg-4 mb-2">
            <div class="form-floating">
                <input type="date" class="form-control" id="DateTo" />
                <label for="DateFrom">To</label>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionCharts">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTailVolumeChart" aria-expanded="true" aria-controls="collapseTailVolumeChart">
                Tail Volume
            </button>
        </h2>

        <div id="collapseTailVolumeChart" class="accordion-collapse collapse show" data-bs-parent="#accordionCharts">
            <div class="accordion-body">

                <div class="card">
                    <div class="card-body">
                        <canvas id="tailVolumeChart"></canvas>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead class="bg-primary-subtle">
                                    <tr>
                                        <th class="text-center">Aircraft</th>
                                        <th class="text-center">Collection Date</th>
                                        <th class="text-center">Tail Volume</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/22/2024</td>
                                        <td class="text-center">1500</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/21/2024</td>
                                        <td class="text-center">500</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/20/2024</td>
                                        <td class="text-center">700</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/19/2024</td>
                                        <td class="text-center">900</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/18/2024</td>
                                        <td class="text-center">1100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/17/2024</td>
                                        <td class="text-center">1300</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Sample</td>
                                        <td class="text-center">06/16/2024</td>
                                        <td class="text-center">1500</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFlightHoursChart" aria-expanded="false" aria-controls="collapseFlightHoursChart">
                Flight Hours & Cycles
            </button>
        </h2>

        <div id="collapseFlightHoursChart" class="accordion-collapse collapse" data-bs-parent="#accordionCharts">
            <div class="accordion-body">

                <div class="card">
                    <div class="card-body">
                        <canvas id="flightHoursChart"></canvas>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead class="bg-primary-subtle">
                                    <tr>
                                        <th class="text-center">Aircraft</th>
                                        <th class="text-center">Collection Date</th>
                                        <th class="text-center">Flight Hours</th>
                                        <th class="text-center">Flight Cycles</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOutsideInfoChart" aria-expanded="false" aria-controls="collapseOutsideInfoChart">
                Outside Info (Air Temperature, Altitude and Airspeed)
            </button>
        </h2>

        <div id="collapseOutsideInfoChart" class="accordion-collapse collapse" data-bs-parent="#accordionCharts">
            <div class="accordion-body">

                <div class="card">
                    <div class="card-body">
                        <canvas id="outsideInfoChart"></canvas>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead class="bg-primary-subtle">
                                    <tr>
                                        <th class="text-center">Aircraft</th>
                                        <th class="text-center">Collection Date</th>
                                        <th class="text-center">OAT</th>
                                        <th class="text-center">Altitude</th>
                                        <th class="text-center">Airspeed</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/dist/chart.umd.min.js" asp-append-version="true"></script>
    <script src="~/Views/Home/Index.cshtml.js" asp-append-version="true"></script>
}